# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment variables
.env

# Terraform
*.tfvars
.terraform/
*.tfstate
*.tfstate.*

# Ansible
*.retry

# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Private keys and credentials
*.pem
*.key
*.p12
*.pfx
id_rsa
id_ed25519
.aws/
