# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment variables
.env

# Terraform
*.tfvars
.terraform/
*.tfstate
*.tfstate.*

# Ansible
*.retry

# Operating system files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

